<div class="container">
    <div class="row">
        <div class="left-section col-md-6">
            <div class="about-content">
                <h1 class="about-title">{{ site.data.site.about-title }}</h1>
                <p class="about-description"> {{ site.data.site.about-description }}</p>
            </div>
        </div>
        <div class="col-md-6 right-section">
                <div class="slider-about swiper-container">
                    <div class="swiper-wrapper">
                        {% for about-slider in site.data.site.about-photos %}
                        <div class="swiper-slide" style="background-image: url('{{ about-slider.image }}')"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
</div>
