@import "theme-colors";

$Montserrat: 'Montserrat', sans-serif;

body{
    margin: 0;
    padding: 0;
    font-family: $Montserrat;
    font-weight: 400;
}

// Global
.no-gutter{
    padding-left: 0;
    padding-right: 0;
}

.navbar{
    padding: 0;
    .navbar-nav{
        .nav-item{
            .nav-link{
                margin-left: 30px;
                margin-right: 30px;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 2px;
                .nav-image{
                    height: 108px;
                }
            }
        }
    }
}

#cover{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .bg-overlay{
        position: absolute;
        height: inherit;
        width: 100%;
        background-color: rgba(0,0,0,0.3);
    }
    .container{
        height: inherit;
        .intro-container{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            .intro-header{
                color: white;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 74px;
                letter-spacing: 5px;
                margin-bottom: 50px;
            }
            .intro-description{
                color: white;
                font-weight: 400;
                line-height: 30px;
                max-width: 60%;
                font-size: 18px;
                margin-bottom: 60px;
            }
            .intro-button{
                display: inline-block;
                background-color: #f4511e;
                color: white;
                padding: 15px 25px;
                border-radius: 10px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 14px;
            }
        }
    }
}

#about{
    position: relative;
    height: 500px;
    .container{
        height: inherit;
        .row{
            height: inherit;
            .left-section{
                position: relative;
                align-items: center;
                display: flex;
                padding-right: 30px;
                .about-content{
                    .about-title{
                        text-transform: uppercase;
                        font-weight: 600;
                        margin-bottom: 50px;
                        display: inline-block;
                        &::after{
                            content: '';
                            display: block;
                            border-bottom: 3px solid #4a4a4a;
                            margin-top: 10px;
                            
                        }
                    }
                    .about-description{
                        line-height: 30px;
                    }
                }
            }
            .right-section{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 50%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }
}

#park{
    position: relative;
    .header-section{
        flex: 100%;
        background-color: black;

        .header{
            color: white;
            margin-top: 30px;
            margin-bottom: 30px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

#facility{
    position: relative;
    height: 500px;
    .container{
        height: inherit;
        .row{
            height: inherit;
            .left-section{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
            .right-section{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 50%;
                position: relative;
                align-items: center;
                display: flex;
                padding-left: 30px;
                .about-content{
                    .about-title{
                        text-transform: uppercase;
                        font-weight: 600;
                        margin-bottom: 50px;
                        display: inline-block;
                        &::after{
                            content: '';
                            display: block;
                            border-bottom: 3px solid #4a4a4a;
                            margin-top: 10px;
                            
                        }
                    }
                    .about-description{
                        line-height: 30px;
                    }
                }
            }
        }
    }
}